<html>
  <head>
    <title>feedr</title>
    <link rel="stylesheet" href="/src/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="./styles/bootstrap-spacelab.min.css">
    <link rel="stylesheet" href="./styles/main.css">
  </head>

  <body ng-app="feedr" ng-cloak>
    <div id="wrap" class="container-fluid" ng-controller="searchController as ctrl" ng-init="ctrl.init()">
      <!-- start form -->
      <center>
        <h1>feedr <small class="tiny-text">by <a href="http://avisamloff.com">Avi Samloff</a></small></h1>
        <div class="search-form">
          <form ng-submit="ctrl.lookup(name, region)" class="form-inline">
            <input type="text" class="form-control" placeholder="Summoner Name" ng-model="name" required>
            <select class="form-control" ng-model="region" required>
              <option value="NA">NA</option>
              <option value="BR">BR</option>
              <option value="EUNE">EUNE</option>
              <option value="EUW">EUW</option>
              <option value="KR">KR</option>
              <option value="LAN">LAN</option>
              <option value="LAS">LAS</option>
              <option value="OCE">OCE</option>
              <option value="TR">TR</option>
              <option value="RU">RU</option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <span><h4>Search for your friends to find out if they've been feeding or not!</h4></span>
        </div>
      </center>
      <!-- end form -->
      <!-- start loading div -->
      <div class="loading" ng-if="ctrl.loading">
        <div class="form-group">
          <div class="text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
          </div>
        </div>
      </div>
      <!-- end loading div -->
      <!-- start results div -->
      <div class="results" ng-if="!ctrl.loading">
        <div class="page-header page-header-no-line text-center" ng-show="ctrl.name">
          <h3><img ng-show="ctrl.icon" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ctrl.version}}/img/profileicon/{{ctrl.icon}}.png" class="img-thumbnail img-thumbnail-no-border img-responsive summoner-icon"> {{ctrl.name}} <small>{{ctrl.feeder}} a dirty feeder!</small></h3>
        </div>
        <div class="game-table" ng-if="ctrl.games">
          <div class="table-responsive">  
            <table class="table">
              <thead>
                <tr>
                  <th>Champion</th>
                  <th>K/D/A</th>
                  <th>Feeding?</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="game in ctrl.games" ng-class="game.feeding ? 'bg-danger' : ''">
                  <td><img ng-src="http://ddragon.leagueoflegends.com/cdn/{{ctrl.version}}/img/champion/{{game.key}}.png" class="champion-icon img-thumbnail img-thumbnail-no-border img-responsive"> {{game.longName}}</td>
                  <td><span class="kda">{{game.kills}}/{{game.deaths}}/{{game.assists}}</span></td>
                  <td>{{game.feeding ? 'Yes' : 'No'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end results div -->
    </div>
    <!-- start sticky footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p><a href="http://github.com/theavish/feedr"><small>View the project on Github</small></a></p>
        <p class="text-muted riot-text center-block"><b>feedr</b> isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
      </footer>
    </div>
    <!-- end sticky footer -->
    <!-- Scripts -->
    <script src="/src/angular/angular.min.js"></script>
    <script src="/src/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/src/es6-promise-polyfill/promise.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/search/factory.js"></script>
    <script src="./js/search/controller.js"></script>
  </body>
</html>