[ng-cloak] {
  display: none;
}

.glyphicon-refresh-animate {
  font-size: 3em;
  -animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -webkit-animation: spinw 1s infinite linear;
  -moz-animation: spinm 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

div.results {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
}

img.img-thumbnail-no-border {
  border: 0;
  padding: 0;
}

img.champion-icon {
  min-height: 32px;
  max-height: 64px;
}

img.summoner-icon {
  min-height: 64px;
  max-height: 80px;
}

.page-header-no-line {
  border-bottom:none;
}

.red-background {
  background-color: red;
}